:root {
    --blanco: white;
    --negro: black;
    /*paleta de colores*/
    --llama: #EB5E28;
    --negro-inquietante: #252422;
    --aceituna-negra: #403D39 ;
    --lobo-madera: #CCC5B9;
    --blanco-floral: #FFFCF2;
}

body, * {
    margin: 0;
}

.container-header {
    height: 120px;
    border: 1px solid var(--aceituna-negra);
    display: flex;
    justify-content: space-between;
    background-color: var(--negro-inquietante);
}

.container-logo {
    padding-left: 40px;
}

.container-navbar {
    padding-right: 60px;
}

li {
    color: var(--blanco-floral);
}
.navbar > ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.navbar > ul > li > a {
    color: white;
    padding-left: 60px;
}
.navbar >ul>li>a:hover {
    color: var(--llama);
}